@* @using Umbraco.Cms.Web.Common *@
@* @using Umbraco.Cms.Web.Common.PublishedModels; *@
@* @inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage; *@
@* @using ContentModels = Umbraco.Cms.Web.Common.PublishedModels; *@
@* @using Umbraco.Cms.Core.Models; *@

@{
    // example code

    // Layout = "Master.cshtml";
    //var model = (IPublishedContent)Model;
    // var title = model.Value<string>("title");
            // var bannerUrl = model.Value<MediaWithCrops>("banner")?.Url();
}
@* <h1>My Home Page</h1> *@
@* <h2>@title</h2> *@
@* <img src="@bannerUrl" /> *@
@* @for(int i = 0; i < 10; i++) *@
@* { *@
@*     <p>Content: @i</p> *@
@* } *@

@*/////////////////////////////////////////////////////////////////////////////////////////*@

@* @{ *@
@*     var model = (IPublishedContent)Model; *@
@*     var bookCulture = model.Value("bookSection"); *@
@*     var titleCulture = model.Value("title"); *@
@*     var nameCulture = model.Value("nameSection"); *@
@*     var authorCulture = model.Value("authorSection"); *@
@*     var totalCulture = model.Value("totalSection"); *@
@*     var availableCulture = model.Value("AvailableSection"); *@
@*     var coverCulture = model.Value("coverSection"); *@
@*     var booksListing = Umbraco.Content("e86c24fb-2ca5-4d03-9e3f-ee2f132b7d73")!; *@
@*     var books = booksListing.Children.ToList(); *@
@* } *@

@* <h1>@titleCulture</h1> *@

@* <div> *@
@*     @{ *@
@*         int num = 1; *@
@*         foreach (var book in books) *@
@*         { *@
@*             var cover = book.Value<MediaWithCrops>("bookCover")?.Url(); *@
@*             <h3>@bookCulture @num :</h3> *@
@*             <p>@nameCulture: @book.Value("bookName") </p> *@
@*             <p>@authorCulture: @book.Value("bookAuthor")</p> *@
@*             <p>@totalCulture: @book.Value("totalQuantity")</p> *@
@*             <p>@availableCulture: @book.Value("availableQuantity")</p> *@
@*             <p>@coverCulture: <br><img src="@cover" style="width: 300px; height: 200px;" /></p> *@
@*             num++; *@
@*         } *@
@*     } *@
@* </div> *@




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>My Library</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#page-top">Roy's Library</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            @* <div class="collapse navbar-collapse" id="navbarResponsive"> *@
            @*     <ul class="navbar-nav ms-auto"> *@
            @*         <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio">Portfolio</a></li> *@
            @*         <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a></li> *@
            @*         <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact">Contact</a></li> *@
            @*     </ul> *@
            @* </div> *@
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div>
        @await Html.PartialAsync("~/Views/Partials/partial/bookcard.cshtml")
    </div>

</body>
</html>
}
